<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客注册</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/commons.css">
</head>
<body>


<div class="login">
    <form class="form-horizontal" method="POST" action="/register.html">
        {% csrf_token %}
      <div class="form-group">
        <label  class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-10">
{#          <input type="text" class="form-control" placeholder="user" name="username">#}
            {{ obj.username }}
            <span>{{ obj.errors.username.0 }}</span>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">昵称</label>
        <div class="col-sm-10">
{#          <input type="text" class="form-control" placeholder="nickname" name="nickname">#}
            {{ obj.nickname }}
            <span>{{ obj.errors.nickname.0 }}</span>
        </div>
      </div>

      <div class="form-group">
        <label  class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-10">
{#          <input type="text" class="form-control" placeholder="email" name="email">#}
            {{ obj.email }}
            <span>{{ obj.errors.email.0 }}</span>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">密码</label>
        <div class="col-sm-10">
{#          <input type="password" class="form-control"  placeholder="Password" name="password">#}
            {{ obj.password }}
          {{ obj.errors.password01.0 }}
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">Dobule</label>
        <div class="col-sm-10">
{#          <input type="password" class="form-control"  placeholder="Password02" name="password02">#}
            {{ obj.password02 }}
          {{ obj.errors.password02.0 }}
        </div>
      </div>


      <div class="form-group">
        <label  class="col-sm-2 control-label">验证码</label>
        <div class="col-sm-5">
{#          <input type="text" class="form-control"  placeholder="code" name="code">#}
            {{ obj.code }}
            {{ obj.errors.code.0 }}
            {{ codemsg }}
        </div>
        <div class="col-sm-5">
            <img onclick="changeCode(this);" style="width: 120px;height: 30px" src="/check_code/" >
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">注册</button>
            {{ errormsg }}
        </div>
      </div>
    </form>

    <form  id="f1" action="/upload/" target="ifr" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <iframe id="ifr" name="ifr" style="display: none"></iframe>
{#          <div class="form-group">#}
{#            <label for="exampleInputFile">头像</label>#}

{#              <div id="content"></div>#}
{#            <p class="help-block">Example block-level help text here.</p>#}
{#          </div>#}

            <div style="position: relative;height:80px;width: 80px; margin-top: -250px;margin-left: -100px">
                <img id="previewImg" style="height:80px;width: 80px; border-radius:20px" src="/static/img/avatar/default.png">
                <input style="position: absolute;height:80px;width: 80px;top:0;left: 0;opacity: 0;" type="file" name="HeadPicture" onchange="upload();" />

            </div>
    </form>

</div>





    <script src="/static/jquery-3.2.1.js"></script>

<script>
        function upload() {
        document.getElementById('ifr').onload = loadIframe;
        document.getElementById('f1').submit();

    }
        function loadIframe() {
        var content =  document.getElementById('ifr').contentWindow.document.body.innerText;

        src = '/' + content;

        document.getElementById('previewImg').src=src

    }
        function changeCode(ths) {
            ths.src=ths.src + '?'
        }



</script>

</body>
</html>